<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar Usuario</title>
</head>
<body>

<form action="/userUpdate/<%=user.id%>" method="post">

    <label for="Nombre">Nombre</label>
    <input type="text" id="Nombre" class="input" required name="nombre" value="<%=user.nombre%>">

    <label for="Correo">Email</label>
    <input type="email" id="Correo" class="input" required name="correo" value="<%=user.correo%>">

    <label for="password">contraseña</label>
    <input type="text" id="password" class="input" required name="contrasena" minlength="6" maxlength="10" value="<%=user.contrasena%>">

    <input type="submit" value="actualizar">

</form>

</body>
</html>