<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <style>

    </style>
</head>

<body>


    <a href="agregarCate">
        <lord-icon src="https://cdn.lordicon.com/hqymfzvj.json" trigger="hover"
            style="display:flex;flex-direction:row;width:auto;height:50px">agregar
            categoria
        </lord-icon>
    </a>

    <table>

        <thead>
            <tr>
                <td>id</td>
                <td>categoria</td>
                <td>editar</td>

            </tr>
        </thead>
        <tbody>

            <%categorias.forEach(cate=>{%>

                <tr>
                    <td>
                        <%=cate.id%>
                    </td>
                    <td>
                        <%=cate.categoria%>
                    </td>
                    <td>
                        <a href="/admin/editarCate/<%=cate.id%>">

                            <lord-icon src="https://cdn.lordicon.com/wuvorxbv.json" trigger="hover"
                                colors="primary:#121331,secondary:#c7c116" style="width:50px;height:50px">
                            </lord-icon>
                        </a>
                    </td> 
                </tr>

                <%})%>
        </tbody>

    </table>


    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</body>

</html>