<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="styles/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
        </style>
</head>
<body>
    
    <form action="/sendData" method="post">
        
        <div id="titleL">

            <h1>Login</h1>
        </div>

        

        <label for="email">Correo</label>
        <input  name="email" id="email" class="input" required placeholder="JuanP123@gmail.com"  type="email">
            
        <label for="password">ingrese su contraseña </label>   
        
        <input  name="password" id="password" class="input" required placeholder="*********"  minlength="6" maxlength="10"  type="password">

        <p>¿Olvidó su contraseña? haga click <a href="#">aquí</a>  </p>
        <p> <a href="/registro">registrate</>  </p>

        <button >iniciar Sesión</button>




    </form>


</body>
</html>