<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="styles/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
        </style>
</head>
<body>

    <h2>ingrese sus datos  </h2>

    <form action="/CreateUser" method="post">

            
        <label for="nombre"> Nombre Completo </label>
        <input  name="nombre" id="nombre" class="input" required placeholder="Juan Paredes"  type="text" >
        
        <label for="email">Correo</label>
        <input  name="email" id="email" class="input" required placeholder="JuanP123@gmail.com"  type="email">
            
        <label for="password">ingrese su contrase単a </label>   
        
        <input  name="contrasena" id="password" class="input" required placeholder="*********"  minlength="6" maxlength="10"  type="password">

        <label for="Repassword">confirme su contrase単a </label>
        <input  name="Repassword" id="Repassword" class="input" required placeholder="*********"  minlength="6" maxlength="10"  type="password">


        <button >crear Usuario</button>



    </form>

    <div id="GenContainer">
        <h2> generador de contrase単as</h2>
        <button onclick="generar()" >generar</button>
        <span id="generatedPassword"></span>
        <button id="utilizar" onclick="utilizarP()" >utilizar contrase単a</button>
    </div>
  




<script src="scripts/index.js"></script>
</body>
</html>