*{
    box-sizing: border-box;
    padding: 0;

}

body{

    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    margin: 0px;
}

form {
    
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;
    height: 70vh;
    border-radius: 5px;
    border: solid rgb(175, 173, 173) 2px;
    outline: 10px solid white;
    background-color: rgb(7, 58, 75);

}

#GenContainer{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;

}


#utilizar{

    display: none;

}


input, button,label,fieldset, p {

    color: white;
    
}

a{
    color: rgb(255, 186, 24);
}


input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    height: 5vh;
    background-color: rgba(16, 137, 177, .3);
}

h1, h2 {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
    color:white;
    text-align: center;
  }
  
  h2:nth-child(1){
    font-size: 20px
  }

  button{
    background-color:rgb(255, 186, 24) ;
    border-radius: 10px;
    height: 5vh;
    padding: 5px;
    width: 100%;
    margin-top: 16px;
  }

  #titleL{
    border-bottom: solid 2px white;
    width: 100%;
  }