*{
    box-sizing: border-box;
    padding: 0;

}

body{

    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    background-color: #161616;
}

form fieldset{

    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;


}

#GenContainer{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;

}


#utilizar{

    display: none;

}


input, button,h2,label,fieldset, span{

    color: white;
    
}


input, button{
    background-color: rgba(255,255,255,0.2);
    border: none;
    padding: 5px;

}

.h1, h2 {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  h2:nth-child(1){
    font-size: 20px
  }